/* This is a CSS comment Shortcut 
for adding a comment*/

/* BACKGROUND IMAGE & PROPERTIES */

body{
    font-family: sans-serif;
    color: rgb(26, 95, 232);
    background-image: url(../images/white_brick_wall.png);
    padding-top: 99px;
        
}

/*Box model example*/

section p{
    width: 50%;
    /*single value top.bottom/left/right
    2 values first value top/bottom , 2nd value left right
    
    */
    padding: 10em 10em;   /*top-bottom left-right*/

    /*
    top right bottom left
    */
    margin: 1em 2em 2em 2em;
    border: 2px solid black;}


html{
    font-size: 1rem;
}

.container{
    /*always create a container containing everything inside the body tag*/
    max-width: 1200px;
    margin: 50px auto;
}

img{
    width: 100%;
}

h1{
    color: crimson;
}


/*Selecting multiple elements*/

h1,h2,h3{
    color: brown;
    text-decoration: underline; text-decoration-style: wavy;
}

/* Selecting child elements*/
nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 1em;

}


nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    
}
nav ul a {
    color: darkolivegreen;
    text-decoration: none;
    font-size: 2rem;
    

}

/* Selecting element with ID value */

#treats{
    background:antiquewhite url(../images/bread.jpg) no-repeat center;

    background-size: cover;
    color: white;
    font-size: 1.5rem;
    padding: 5rem;      /*spacing around the text from top and from bottom*/
    /* background cover */  
    /* height: 100vw; scroll wheel becoz it has space coming from the parent, it goes out of the screen which is not ideal*/
    /*  */

    border: 1.25rem solid black;
    position: relative;
}

/* specification 0020*/

.blue-link.large-text{
    position: absolute;
    bottom: 0;
    right: 0;
   
}

.blue-link{
    background-color: rgb(226, 248, 204);
    text-decoration: none;
    color: chocolate;
    float: right;
    
}

.large-text{
    padding: 1.5em; /*1.5 time from the font size*/
    width: 300px;
    display: inline-block;
    font-size: large;
    color: blueviolet;
}


article, aside
{
    width: 80%;
    background-color: rgb(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 1.52em;
    box-sizing: border-box;
    float: left;
}

aside{
    width: 20%;
}

section{
    clear: both;
}

.white{
    color: black;
}

/*Combinators 
direct child selector - will only select child of the parent*/

/* CSS TYPOGRAPHY */

article>p {
    font-size: 20xp;
    font-weight:400;
    line-height: 8px;
    text-transform: uppercase;
    text-align: center;
}

/* Adjacent sibling selector - selects the element that is very next sibling to the selected element
*/
/*borde 1px border type solid color*/
h3+ul{
    border:1px solid yellow ;
}
h3~p{
    text-transform: uppercase;
}
/* Selectors */
[href="#treats"] {
    font-weight: 800;
    font-size: 50px;
    font-family: 'Lucida Sans';
    color:black ;
}

/* For SPECIFIC IMG */
[src="./images/coffee-shop.jpg"]{
    border: 12px solid green;
}

/* For ALL IMAGES on a page
[src$=".jpg"]{
    border: 4px solid blue;
} 
*/

/* Pseudo Classes*/
/* Styling navigation box-shadow: vertical hor blur spread color;
}*/

nav ul a,
nav ul a:link,
nav ul a:visited{
    color: blueviolet; 
    box-shadow: 1px 1px 8px 2px blue;
}
    
nav ul .current, /**/
nav ul a:hover,
nav ul a:focus{
    text-decoration: none;
    background-color: antiquewhite;
}

nav ul a:active{
    box-shadow: 0px 0px 5px 1px red ;
}

/* Position Selectors
   First Child and Last Child*/

aside ul li:first-child{
    font-weight: bold;
}   

section ol li:last-child{
    font-weight: bold;
}


/*Using nth Child with n
where n is 0,1,2....until num of elements*/

table{
   border-collapse: collapse;

}

/* nth child selector - even / odd 
hex color value with 6 chars*/

tbody tr:nth-child(even){
    background-color: #d5836d;
}

table th:nth-child(n), 
table td:nth-child(n){
    border: 1px solid green;
}

/*using formula in nth-child selector*/

table td:nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.2)
}

/* Css Specificity 
   Formula: In-line Style, ID, Class, Tag Name[num elements we take like div n p then it will be 2] (0,0,0,0)*/

/* (0,0,0,1) */   
footer{
    background-color: beige;
}   

/* (0,0,0,2) */ 

body footer{
    background-color: beige;
}  

/* (0,0,1,0) 

.site-footer{
    background-color: beige;
}   

(0,0,0,2)

article h2{
    text-decoration:none;
}

(0,0,1,1)

footer.site-footer{
    text-decoration:none;
}
*/



